* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
}

.ygg_badge {
  opacity: 0.8;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  display: flex;
  flex-direction: column;
  transition: 200ms;
  align-items: flex-end;
  font-family: sans-serif;
}

.ygg_badge:hover {
  opacity: 1;
}

.ygg_badge > .ygg_tooltip {
  user-select: none;
  background-color: #eee;
  outline: 1px solid #333;
  margin-top: 0.5rem;
  padding: 0.5rem;
  justify-content: end;
  transition: 200ms;
  opacity: 0;
}

.ygg_badge > .ygg_tooltip.show {
  opacity: 1;
}

.ygg_badge > .ygg_links {
  background-color: #eee;
  width: fit-content;
  height: fit-content;
  display: flex;
  outline: 1px solid #333;
}

.ygg_badge > .ygg_links > .ygg_link_a,
.ygg_badge > .ygg_links > .ygg_link_a:hover {
  padding: 0.5rem;
  width: 3rem;
  height: 3rem;
  margin: 0;
  border: 0;
  background: none;
}

.ygg_badge > .ygg_links > .ygg_link_a:hover {
  background-color: #7fe9de;
  outline: 1px solid #333;
}

.ygg_badge > .ygg_links > .ygg_link_a > .ygg_link_a_img {
  object-fit: cover;
}
